td {
	position: relative;
}
input.color {
	width: 65px;
}
.colorpicker {
	display: none;
	position: absolute;
	top: 8px;
	left: 100px;
	background: white;
	border: 1px solid #BBB;
	padding: 3px;
	border-radius: 3px;
	z-index: 100;
}